/* */
* {box-sizing:border-box}

/* Navbar */

.navbar-custom {
    background-color: #b7bba1;
}

/* Skills bar */
.container {
  display: inline-block;
  width: 100%; 
  background-color: rgb(255, 255, 255);
}

.skills {
  text-align: left;
  padding: 5px;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #d49f98;
}

.html {width: 50%; background-color: #b7bba1;}
.css {width: 25%; background-color: #b7bba1;}
.js {width: 5%; background-color: #b7bba1;}
.git {width: 50%; background-color: #b7bba1;}

/* About me */

.image {
    max-height: 400px;
}